* {
  box-sizing: border-box;
}

h1 {
  font-family: "Josefin Slab";
  text-align: center;
  font-weight: 700;
  margin-bottom: 2vw;
}

p {
  font-family: "Josefin Slab";
  font-weight: 600;
  font-size: 1.15rem;
  /* padding-bottom: px; */
  margin-top: 0;
}

h3 {
  text-align: center;
  font-family: "Josefin Slab";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
  overflow: auto;
  /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
}

#modal-textbox {
  background-color: white;
  height: 450px;
  width: 450px;
  border-radius: 5px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: .5%;
  line-height: 160%;
}

@media screen and (max-width: 715px) {
  #modal-textbox {
    height: 300px;
    width: 380px;
    font-size: 8.5px;
    line-height: 180%;
    padding-left: 1.25rem;
    padding-right: 1rem;
  }

  #modal-text {
    padding-top: 2rem;
  }

  h1 {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 1350) {
  #modal-textbox {
    height: 390px;
    width: 380px;
  }
}

@media screen and (min-width: 2250px) {
  #modal-textbox {
    width: 500px;
    height: 350px;
    line-height: 120%;
  }

  h1 {
    margin-bottom: .75vw;
  }
}


@media screen and (min-width: 3250) {
  #modal-textbox {
    width: 300px;
    height: 450px;
    line-height: 120%;
  }
}


@media screen and (min-width: 3675) {
  #modal-textbox {
    height: 650px;
    width: 670px;
    padding: 1px
  }

  h1 {
    margin-top: 5px;
    padding-bottom: .5rem;
  }

  #modal-container {
    height: 600px;
  }
}



#modal-container {
  border: .5px solid lightgray;
  border-radius: 5px;
  padding: .25em;
}





#modal-footer {
  text-align: right;
}

#game-dashboard {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dotted black;
  width: 90vw;
  min-height: 5rem;
  min-width: 25rem;
  margin-top: 1vw;
  margin-bottom: 5vw;
}

#btn-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#turn-container,
#match-container,
#lvl-container {
  display: flex;
  flex-direction: column;
  margin-right: 0.75rem;
}

#lvl-container {
  margin-right: 0.75rem;
}

#turn-container {
  margin-left: 0.75rem;
}

#start-game,
#end-game,
#restart,
#new-game,
#openModal,
.modal-buttons {
  font-family: "Josefin Slab";
  font-weight: 700;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  font-size: 20px;
  padding: 4px 6px;
  align-content: flex-start;
  /* height: 2.25vw;
  width: 9vw; */
  margin: 0 auto;
}

#close {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

@media screen and (max-width: 800px) {

  #start-game,
  #restart,
  #new-game,
  #openModal,
  .modal-buttons {
    font-size: 18px;
  }
}

@media screen and (max-width: 520px) {

  #start-game,
  #restart,
  #new-game,
  #openModal,
  .modal-buttons {
    font-size: 12px;
  }
}

#openModal {
  background-color: white;
  color: black;
  border: 1px solid #e7e7e7;
}

#new-game,
#restart,
#end-game {
  opacity: 0;
}


#start-game:hover,
#restart:hover,
#new-game:hover,
#openModal:hover,
.modal-buttons:hover {
  background-color: #e7e7e7;
}

#turn-display,
#lvl-counter,
#timer {
  font-size: 5vw;
  font-family: "Love Ya Like A Sister";
  font-style: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  min-height: 6vw;
  min-width: 6vw;
  padding-top: 2px;
}

#polka-display {
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  height: 5rem;
  width: 6rem;
  padding-top: 0.85rem;
  padding-left: 1.5rem;
}

#polka-container {
  align-items: center;
}

#game-area {
  /* border: 1px solid black; */

  width: 50vw;
}

#game-container {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 50vw;
}

@media screen and (max-width: 1300px) {
  #game-area {
    width: 81vw;
  }

  #game-container {
    max-width: 81vw;
  }
}

.goal-divs {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  border: 1px solid grey;
  /* margin-top: 3vw; */
}

.game-divs {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  border: 1px solid grey;
}

.winning-polka {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  border: 1px solid grey;
}

@media screen and (max-width: 665px) {

  .goal-divs,
  .game-divs,
  .winning-polka {
    height: 2rem;
    width: 2rem;
  }
}