* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#start-game,
#restart {
  font-size: 1.25vw;
  align-content: flex-start;
  height: 2.25vw;
  margin-top: 1vw;
}

#game-dashboard {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  min-height: 92px;
  height: 10vw;
  width: 100vw;
  margin-bottom: 5vw;
}

#turn-display,
#lvl-counter,
#timer {
  font-size: 5vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 6vw;
  width: 9vw;
  padding-top: 0.25vw;
}
#polka-display {
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 5rem;
  width: 6rem;
  padding-top: 0.85rem;
  padding-left: 1.5rem;
}

#polka-container {
  align-items: center;
}

#game-area {
  border: 1px solid black;
  height: 50vw;
  width: 96vw;
}

#game-container {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 96vw;
}

.goal-divs {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  /* margin-top: 3vw; */
}

.game-divs {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  border: 1px solid grey;
}

.winning-polka {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  border: 5px solid black;
}
